@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-color: #c778dd;
}

.side-links {
  &::before {
    content: "";
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 250px;
    background-color: #abb2bf;
  }
}

.line-title {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 320%;
    transform: translate(-50%, -50%);
    width: 400%;
    height: 2px;
    background-color: var(--primary-color);
  }
}
